<div class="m-copy-block{{#each modifiers}} m-copy-block--{{this}}{{/each}}">
  <h3 class="title">{{heading}}</h3>
  <hr>
  <p>Vestibulum lorem risus, tincidunt sed laoreet tempus, lobortis nec nisi.
    Suspendisse euismod lacus sodales, pharetra justo in, consectetur eros. Duis pellentesque pretium sollicitudin.</p>
</div>
