<section class="m-hero">
  <div class="background-image" style="background-image: url({{path '/img/main.jpg'}})"></div>
  <div class="hero-content">
    <h1>əˈvōk·ui</h1>
    <h3>Responsive Frontend Framework</h3>
    <a href="#" class="a-btn">Request Quote</a>
  </div>
</section>