<header class="o-header l-gutters">
  <h2><a href="#">əˈvōk·ui</a></h2>
  <!--<i class="o-header__nav-btn fa fa-bars fa-2x"></i>-->
  <a class="o-header__nav-btn" href="#"><i class="material-icons">menu</i></a>
  <nav class="o-header__nav">
    <li><a href="#">Tech Stack</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
  </nav>
</header>
