<div class="m-picture-grid">

  <ul class="grid">
    <li class="small" style="background-image: url({{path '/img/mountain1.jpg'}})"></li>
    <li class="large" style="background-image: url({{path '/img/mountain2.jpg'}})"></li>
    <li class="large" style="background-image: url({{path '/img/mountain3.jpg'}})"></li>
    <li class="small" style="background-image: url({{path '/img/mountain4.jpg'}})"></li>
  </ul>

</div>